#content div p{
    font-size: 1.2em;
    color: #7C99AC;
}

#content div p span{
    font-size: 1.2em;
    color: #ff9b04;
    font-weight: 700;
}
section .p-4{
    background-color:#1c2630;
    font-size: 1.2em;
    font-weight: bold;
    color: white
}
.btn-more{
    position: relative;
    border: 2px solid #00BFFF;
    display: inline-block;
    text-decoration: none;
    color: #00BFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
.btn-more:hover{
    color: #FFFFFF;
}
.btn-more span{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #00BFFF;
    transition: width 0.5s ,height 0.5s;
    z-index: -1;
}
.btn-more:hover span{
    width: 450px;
    height:250px;
}

.header .banner img{
    height: 100%;
}

.header .container .position-absolute p{
    color: black;
    font-size: 20px;
}
.container .position-absolute .btn-more{
    color: black;
}
.container .position-absolute .btn-more:hover{
    color: #FFFFFF;
}
.container .position-absolute h4{
    color: orange;
}
.position-absolute{
    top: 38%;
}
#content .col-md-6 p{
    justify-content: center;
    align-items: center;
    top: 50%;
}

.height-300{
    height: 300px;
}
.margin-y300{
    margin-top: 170px;
    margin-bottom: 170px;
}

