.btn-more{

    text-align: center;
    width: 100%;
    color: #00BFFF;
    text-decoration: none;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.col-md-3 table th{
    background: #999999;
    width: 100%;
}
#divSearch{
    position: relative;
}

#label{
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 18px;
    color: #999999;

}
#searchDog{
    height: 45px;
    padding: 5px 10px;
}
#searchDog:focus + #label , #searchDog:not(:placeholder-shown) +#label{
    top: 0;
    left: 15px;
    background: #FFFFFF;
    transition: 0.3s;
    color: #00BFFF;
}
#searchDog:hover,#searchDog:focus{
    border: #00BFFF 1px solid;
}