.shadow-content{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    box-sizing: inherit; margin-bottom: 10px;
    padding: 20px;
    line-height: 1.6em;
}
.textA{
    font-family: Arial;
}

.container .row.shadow-content a:hover{
    text-decoration: underline;

}

.container .row.shadow-content a{
    text-decoration: none;
}

p, .text{
    letter-spacing: 1.2px;
    line-height: 30px;
    word-break: break-word;
}

.progress{
    height: 35px;
    font-size: 100px;
}

.cmt,#thich{
    text-decoration: none;
    color: black;
    user-select: none;
    padding: 5px 50px;
    border-radius: 5px;
}
.cmt:hover,#thich:hover{
    background: #e7e7e7;
    color: black;
}

.avatar{
    width: 40px;
}
.binhLuan{
    border: none;
    height: 40px;
}
input:focus-visible{
    outline: none;
}