/* menu sticky*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',SansSerif;
    font-size: 18px;
}
body{
    padding: 0;
    font-family: "Times New Roman";
}
h2{
    font-weight: 700;
}
div header a:hover{
    color: #6504b5;
}
.menu-header{
    background-color: #6504b5;
}
header.sticky{
    /*background: white;*/
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #6504b5 100%);       !* *!*/
    /*background: -webkit-linear-gradient(top, #FFFFFF 0%, #6504b5 100%);*/
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}
header .logo{
    text-decoration: none;
}

div header .logo img{
    width: 35%;
    position: relative;
    top: 5px;
}
header.text-logo{
    position: relative;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;


}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}
header ul li{
    position: relative;
    list-style-type: none;

}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #070303;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.6s;
    font-size: 18px;
}

.banner{
    position: relative;

}
.banner img{
    width: 100%;
    object-fit: fill;
    box-sizing: content-box;
    height: 500px;
}

.text-logo{
    position: relative;
    text-decoration: none;
    color: #6504b5;
    font-size: 50px;
    text-transform: uppercase;
    align-items: center;
    margin-top: -55px;
    font-weight: 900;
    left: 70px;

}
/* animation logo page*/
.text-logo::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    -webkit-text-stroke: 0.2vm #000000;
    overflow: hidden;
    animation: animation 6s linear infinite;

}
@keyframes animation {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.btn-login{

    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #0f1517;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    top: 5px
}
.btn-login:hover{
    color: #ffffff;
    background-color: #6504b5;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: 1s;

}
.btn-login span{
    position: absolute;
    display: block;

}
.btn-login span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FFFFFF);
}
.btn-login:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.btn-login span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#FFFFFF);
}
.btn-login:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.btn-login span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FFFFFF);
}
.btn-login:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.btn-login span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#FFFFFF);
}
.btn-login:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*footer css */

.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    background: #6504b5;
}

.footer >*{
    flex: 1 100%;
    font-size: 15px;
}


footer .society a i img{
    width: 100%;
    height: 100%;
}
footer h2 img{
    position: relative;
    top: -10px;
}

@media only screen and (min-width: 600px) {
    .footer-right >*{
        flex: 1;
    }
    .footer-left{
        flex: 1 0;
    }
    .footer-right{
        flex: 2 0;
    }
}

footer a{
    color: #FFFFFF;
}
footer p{
    margin-bottom: 0.5rem;
}
@media only screen and (max-width: 600px) {
    .footer{
        padding: 15px;
    }
}
.position-absolute{
    top: 315px;
}
footer div a i img{
    width: 35px;
}
.container .position-absolute ,.container .position-absolute a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #FFFFFF;
}
@media only screen and (max-width: 1000px) {
    .container .position-absolute h4,.container .position-absolute p{
        display: none;
    }
    .container .position-absolute .btn-more{
        font-size: 14px !important;
    }
    .container .position-absolute h2{
        font-size: 20px;
    }
    .container .position-absolute{
         width: 45%;
     }
}

.login-facebook , .login-facebook:hover{
    background-color: #4267b2;
    border-radius: 20px;
    color: #FFFFFF;
    height: 40px;
    line-height: 35px;
    width: 165px;
    margin: 0 15px;
}
.login-google , .login-google:hover{
    color: #999999;
    border-radius: 20px;
    border: 1px solid #999999;
    height: 40px;
    line-height: 35px;
    width: 165px;
    margin: 0 15px;
}

#username:focus-visible ,#password:focus-visible{
    outline: none;
}
.message{
    color: red;
}
.text-purple{
    color: #6504b5 !important;
}
.bg-purple{
    background: #6504b5 !important;
}
.border-purple{
    border-color: #6504b5 !important;
}
.btn-purple {
    background-color: #6504b5 !important;
    border-color:#6504b5 !important;
}
.error{
    border-color: red !important;
}

.navbar .collapse .navbar-nav .nav-item a{
    color: white;
}

.hide{
    display: none !important;
}
.active{
    display: block !important;

}
input:focus-visible{
     outline: none;
}